* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	background-color: #f3f3f3;
}

.main-navigation {
	text-align: center;
	background: #ffffff;
	border-top: 1px solid #ebebeb;
	margin-bottom: 35px;
	border-bottom: 2px solid #e1e1e1;
}
